<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Agile Metrics</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cycletimecalc">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cycle Time
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aging">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Aging - beta
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cumulativeflow">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cumulative Flow
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deliveryefficiency">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Delivery Efficiency
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="featureprogress">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Feature Progress
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="epicprogress">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Epic Progress
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="howmanydays">
                <span class="oi oi-list-rich" aria-hidden="true"></span> How Many Days?
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="howmanystories">
                <span class="oi oi-list-rich" aria-hidden="true"></span> How Many Stories?
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
